extends ./layout.jade

block title
	title Smeep | Tutorial (Ende)

block content
	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.row
				.col-md-2
					a.navbar-brand(href='/')
						img.logo(alt='Smeep', src='/img/logo.png')
				.col-md-8.steps
					.one.active
						a.inner(href='/tutorial_one') 1
					.two.active
						a.inner(href='/tutorial_two') 2
					.three.active
						a.inner(href='/settings') 3
					.four.active
						a.inner(href='/tutorial_end') 4		
						
	.container.main
		.row
			.col-md-6.col-md-offset-3
				h1.text-center Vielen Dank!
				p.lead.text-center Ihr Smeep-System wurde nun konfiguriert. Natürlich können Sie die Einstellungen jederzeit wieder ändern.
				br
				p.lead.text-center
					strong Schlafen Sie besser mit Smeep.
				p.text-center
					a.text-center.btn.btn-default.btn-lg(href='/settings') zurück